<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/account-info.css}">
    <link rel="stylesheet" th:href="@{/css/skill/edit.css}">
    <title>编辑</title>
</head>
<!--
    修改技能信息时会先查找技能信息然后转发到这个页面
    添加技能信息时同样会跳转到这个页面
    也就是说这个页面需要负责技能的修改和添加
    可以根据请求域中是否有skill对象来判断是修改还是添加
    如果是修改，提交的请求需要用PUT方式；添加则用POST方式
-->
<body>
<div th:replace="common/common::account-info"></div>

<div class="tip">请填写技能的详细信息</div>

<form th:action="@{/skill}" method="post">
    <!-- 如果获取到了skill对象，说明此时是修改操作，需要把id提交给服务器 -->
    <input type="hidden" th:if="${skill != null}" name="id" th:value="${skill.id}" />
    <!-- 同理，如果获取到了skill对象，则需要把请求方式改为PUT -->
    <input type="hidden" th:if="${skill != null}" name="_method" value="put" />
    <!-- 再提供一个参数，方便添加/修改完成后可以重定向回原来的那个页面 -->
    <input type="hidden" th:if="${curPage != null}" name="curPage" th:value="${curPage}" />
    <div>
        <span>名称：</span>
        <input type="text" name="name" th:value="${skill == null} ? _ : ${skill.name}" />
    </div>
    <div>
        <span>属性：</span>
        <select name="type.name">
            <option>None</option>
            <option th:each="type, typeStat : ${types}" th:text="${type.name}" th:value="${type.name}" th:selected="(${skill != null && skill.type != null && skill.type.name == type.name}) ? 'selected' : _"></option>
        </select>
        <span>分类：</span>
        <select name="category.name">
            <option>None</option>
            <option th:each="category, categoryStat : ${categories}" th:text="${category.name}" th:value="${category.name}" th:selected="(${skill != null && skill.category != null && skill.category.name == category.name}) ? 'selected' : _"></option>
        </select>
    </div>
    <div>
        <span>威力：</span>
        <input type="text" name="power" th:value="${skill == null} ? _ : ${skill.power}" />
        <span>命中：</span>
        <input type="text" name="accuracy" th:value="${skill == null} ? _ : ${skill.accuracy}" />
        <span>PP：</span>
        <input type="text" name="pp" th:value="${skill == null} ? _ : ${skill.pp}" />
    </div>
    <div>
        <span>效果：</span>
        <input type="text" name="effect" th:value="${skill == null} ? _ : ${skill.effect}" />
    </div>
    <div>
        <input type="submit" value="提交" />
    </div>
</form>
</body>

<div th:replace="common/common::jquery"></div>
<div th:replace="common/common::logoutFormJS"></div>

</html>