<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/account-info.css}">
    <link rel="stylesheet" th:href="@{/css/account/edit.css}">
    <title>编辑</title>
</head>
<!--
    修改账户信息时会先查找账户信息然后转发到这个页面
    添加账户信息时同样会跳转到这个页面
    也就是说这个页面需要负责账户的修改和添加
    可以根据请求域中是否有account对象来判断是修改还是添加
    如果是修改，提交的请求需要用PUT方式；添加则用POST方式
-->
<body>
<div th:replace="common/common::account-info"></div>

<div class="tip">请填写账户的详细信息</div>

<form th:action="@{/account}" method="post">
    <!-- 如果获取到了account对象，说明此时是修改操作，需要把id提交给服务器 -->
    <input type="hidden" th:if="${account != null}" name="id" th:value="${account.id}" />
    <!-- 同理，如果获取到了account对象，则需要把请求方式改为PUT -->
    <input type="hidden" th:if="${account != null}" name="_method" value="put" />
    <!-- 再提供一个参数，方便添加/修改完成后可以重定向回原来的那个页面 -->
    <input type="hidden" th:if="${curPage != null}" name="curPage" th:value="${curPage}" />
    <div>
        <span>名称：</span>
        <input type="text" name="name" th:value="${account == null} ? _ : ${account.name}" />
        <span>密码：</span>
        <input type="text" name="password" th:value="${account == null} ? _ : ${account.password}" />
    </div>
    <div>
        <span>邮箱：</span>
        <input type="text" name="email" th:value="${account == null} ? _ : ${account.email}" />
    </div>
    <div>
        <span>角色：</span>
        <select name="role.id">
            <option th:each="role, roleStat : ${roles}" th:text="${role.name}" th:value="${role.id}" th:selected="${(account != null && account.role != null && account.role.id == role.id) ? 'selected' : _}"></option>
        </select>
        <span>激活：</span>
        <input type="radio" name="isActive" th:checked="${(account != null && account.isActive) ? 'checked' : _}" value="true">是
        <input type="radio" name="isActive" th:checked="${(account != null && account.isActive) ? _ : 'checked'}" value="false">否
    </div>
    <div>
        <input type="submit" value="提交" />
    </div>
</form>
</body>

<div th:replace="common/common::jquery"></div>
<div th:replace="common/common::logoutFormJS"></div>

</html>