<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/common/account-info.css}">
    <link rel="stylesheet" th:href="@{/css/common/head.css}" />
    <link rel="stylesheet" th:href="@{/css/role/list.css}" />
    <link rel="stylesheet" th:href="@{/css/common/navigate-bar.css}" />
    <link rel="stylesheet" th:href="@{/css/common/foot.css}" />
    <title>列表</title>
</head>
<body>
<div th:replace="common/common::account-info"></div>

<div th:replace="common/common::head"></div>

<table class="role-list">
    <caption>
        <div>角色列表</div>
        <a sec:authorize="hasRole('super_admin')" th:href="@{/role}+'?curPage='+${pageBean.pageInfo.pageNum}">添加角色</a>
    </caption>
    <thead>
    <tr>
        <th>序号</th>
        <th>名称</th>
        <th sec:authorize="hasRole('super_admin')">修改</th>
        <th sec:authorize="hasRole('super_admin')">删除</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="role, roleStat : ${pageBean.list}">
        <td th:text="${roleStat.index + 1}"></td>
        <td th:text="${role.name}"></td>
        <td sec:authorize="hasRole('super_admin')"><button class="updateButton" th:attr="submit_uri=@{/role/}+${role.id}">修改</button></td>
        <td sec:authorize="hasRole('super_admin')"><button class="deleteButton" th:attr="submit_uri=@{/role/}+${role.id}">删除</button></td>
    </tr>
    </tbody>
</table>

<div th:include="common/common::forms(${pageBean})"></div>

<div th:replace="common/common::navigate-bar(${pageBean}, 'roles')"></div>

<div th:replace="common/common::foot"></div>
</body>

<div th:replace="common/common::jquery"></div>
<div th:replace="common/common::logoutFormJS"></div>
<div th:replace="common/common::submitFormJS"></div>
</html>